<p class="bg-blue text-white">HELLO WORLD FROM INDEX . TWIG</p>

<h1 class="text-center my-4">{{ message }}</h1>

{# 
Timber Setup
https://www.youtube.com/watch?v=UG4O5VlYGaU&list=PL8qi2ncTgQniIw2hAMQ-5KL0Yow9onjFO&index=2 #}

{#
Tailwind Setup
https://www.youtube.com/watch?v=PltjA1UTTCw #}

